.Home .layer {
  /* background-color: rgba(237, 72, 69, 1); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
}

.Home .image {
  /* background-image: url('https://via.placeholder.com/320x180/ed4845/ed4845'); */
  background-image: url('god-is-love.png');
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.Home .image img {
  width: 100%;
}

.Home .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  text-align: right;
}

.Home .text .subtitle {
  padding-right: 20px;
  max-width: 700px;
  margin: 0 auto;
  text-align: right;
  margin-top: 60px;
  font-size: 14px;
  font-weight: bold;
  /* color: #21181D; */
  color: #ffffff;
  text-transform: uppercase;
}

.Home .text .title {
  padding-right: 20px;
  font-size: 50px;
  max-width: 700px;
  margin: 0 auto;
  text-align: right;
  margin-top: 0px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.Home .text .callToAction {
  text-align: right;
  padding-right: 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 15px;
}

.Home .text .callToAction a {
  border: 1px solid #ffffff;
  /* background-color: #ed4845; */
  background-color: #21181D;
  padding: 6px 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.Home .text .callToAction a:hover {
  background-color: #ffffff;
  color: #FDC138;
  cursor: pointer;
}

@media (max-width: 576px) {
  .Home .text .title {
    font-size: 65px;
  }
}

@media (max-width: 400px) {
  .Home .text .title {
    font-size: 50px;
  }
}
