.Navigation .active {
  color: #ed4845;
}

.Header {
  background-color: #21181D;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  padding: 0 60px;
  min-height: 60px;
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.Header .navigationOverlay {
  display: none;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #21181D;
  opacity: 0;
  transition: .5s ease-out all;
}

.Header .navigationOverlay-active {
  transition: .5s ease-in all;
  z-index: 1002;
  opacity: 1;
}

.Header .navigationOverlay span {
  display: flex;
  flex-direction: column;
}

.Header .navigationOverlay span a {
  margin-bottom: 15px;
  font-weight: normal;
}

.Header .navigationOverlay span a:last-child {
  margin-bottom: 0px;
}

.Header .mobile-title {
  display: none;
}

.Header .content {
  display: flex;
}

.Header .content .title {
  padding-top: 20px;
}

.Header .content .navigation {
  font-size: 16px;
  font-weight: 300;
  margin-left: auto;
  padding-top: 20px;
}

.Header .content .navigation a {
  margin-right: 20px;
}

.Header .content .navigation a:last-child {
  margin-right: 0px;
}

.Header .content .navigation a:hover {
  cursor: pointer;
  color: #8C8C8B;
}

.Header .hamburger {
  display: none;
  position: absolute;
  z-index: 1003;
  border: 2px solid #ffffff;
  padding: 8px;
}

.Header .hamburger:hover {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .Header {
    width: 900px
  }
}

@media (max-width: 1100px) {
  .Header {
    width: 800px
  }
}

@media (max-width: 991px) {
  .Header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    margin: unset;
    padding: unset;
  }

  .Header .mobile-title {
    display: block;
  }

  .Header .content {
    display: none;
  }

  .Header .hamburger {
    display: block;
    right: 20px;
    top: 14px;
  }

  .Header .navigationOverlay {
    display: flex;
  }
}
