html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #2F3D4D;
  background-color: #21181D;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

.fade-slide-up-appear {
  opacity: 0.01;
  transform: translate(0px,20px);
}

.fade-slide-up-appear-active {
  opacity: 1;
  transform: translate(0px,0px);
  transition: .5s ease-in all;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear-active {
  opacity: 1;
  transition: .5s ease-in all;
}
